@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectsMain>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div id="main-container">
    <div id="main" class="homepageNews wrapper clearfix">
        <section>
            <h2 class="banner">@Umbraco.Field("mainProjectTitle")</h2>
            @Umbraco.Field("articleMainBodyText")
		@Umbraco.RenderMacro("listProjects")
        </section>  
    </div> <!-- #main -->
</div> <!-- #main-container -->